.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--capgemini-color--primary);
}

.container .flags {
  display: flex;
  justify-content: center;
}

.container .sweFlag,
.container .usFlag {
  margin: 0 1rem;
  cursor: pointer;
}

.activeLocale {
  border-bottom: 3px solid var(--capgemini-color--primary);
}

.container button {
  background-color: var(--capgemini-color--secondary);
  color: whitesmoke;
  margin: 1rem 0 0;
  border-radius: 5px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  font-size: 1.25rem;
  text-transform: uppercase;
  align-self: center;
  height: 44px;
  line-height: 1.15;
  width: 100%;
  cursor: pointer;
  line-height: 1.15;
}

.container button:disabled {
  background-color: darkgray;
  cursor: not-allowed;
}

.container button:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

.container form {
  display: flex;
  flex-direction: column;
}

.container form input {
  padding: 0.5rem;
  margin: 1rem auto;
  width: 100%;
}
