.loader {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

.loader:after {
  content: " ";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 auto;
  border-radius: 50%;
  border: 6px solid whitesmoke;
  border-color: whitesmoke transparent whitesmoke transparent;
  animation: loader 1.2s linear infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
